:root {
  --white: #fff;
  --pink: #ffc0cb;
  --red: #ff0000;
  --purple: #800080;
  --black: #000000;
  --dark: #374151;
  --dark1: #1F2937;
  --dark3: #111827;
  --gray: #687280;
  --gray2: #575757;
  --gray3: #808080;
  --lightgray: #a0a0a0;
  --green: #008000;
  --green1: #036303;
  --green3: #008000;
  --blue: blue;
  --orange: #ffa500;
  --orange1: #ffa500;
  --orange2: #a16903;

}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--lightgray);

}
.container {
  position: relative;
  margin-top: 20px;
  width: 500px;
  height: 580px;
  background-color: var(--green3);
  padding-bottom: 5px;
  padding-top: 20px;
  border-radius: 6px;
}
#closeSpan {
  position: absolute;
  top: 6px;
  right: 16px;
  font-size: 40px;
  font-weight: 700;
  color: var(--white);
  cursor: pointer;
}

#infoSpan {
  position: absolute;
  right: 16px;
  font-size: 32px;
  font-weight: 700;
  color: var(--white);
  cursor: pointer;
  z-index: 999;
}


h1 {
  margin-bottom: 20px;
  text-align: center;
  color: var(--black);
}

.tooltip {
  visibility: hidden;
  position: relative;
  display: flex;
  width: 260px;
  height: 80px;
  padding-top: 5px;
  left: 190px;
  right: 100px;
  border-radius: 10px;
  justify-content: center;
  background-color: #687280;
  margin-bottom: -80px;
  opacity: 0;
  z-index: 100;
}
#infoSpan:hover + .tooltip  {
    visibility: visible;
    opacity: 1;
  }  



ol {
  position: relative;
  padding: 0 2px;
}
ol span {
  color: var(--white);
}
ol li {
  font-size: 13px;
  color: var(--white)
} 

.cal_wrapper {
  position: relative;
  width: 350px;
  height: 460px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  border: 12px solid var(--gray2);
  border-radius: 8px;
  box-shadow: 0px 0px 43px 17px rgba(152, 153, 152, 1);
}
.displayBoard {
width: 100%;
height: 100px;
overflow: hidden;
word-break: break-all;
border-bottom: 12px solid var(--gray3);
background-color: var(--black);
word-wrap: break-word;
padding: 5px;
}

.display1,
.display_win {
  width: 100%;
  height: 50%;
  color: var(--white);
  font-size: 22px;
  font-weight: bold;
  text-align: right;
overflow: hidden;
}

.btn_wrapper {
  display: grid;
  width: 100%;
  height: 340px; 
  background-color: var(--white);
  grid-template-columns: repeat(4, 1fr); 
  z-index: 999;
}
.button {
  font-size: 1.8rem;
}
.button:hover{
  background-color: rgba(152, 153, 152, 1);
  color: var(--white);
  transition: .05s ease-in-out;
}
button.equal {
  background-color: var(--orange1);
  color: black;
  border: none;
}
.button.equal:hover {
  background-color: var(--orange2);
  transition: .05s ease-in-out;
}
.fa-square-root-variable {
  font-size: 22px;
}
/* Responsive styling for smaler screens */
@media only screen and (max-width: 768px) {
.container {
    width: 98%;
      height: auto;
}
h1 {
  font-size: 28px;
  padding-top: 10px;
}
.cal_wrapper {
  margin-top: 30px;
  width: 96%;
}
#closeSpan {
    right: 10px;
  font-size: 32px;
}
#infoSpan {
  right: 10px;
  margin-top: -0.7rem;
  font-size: 32px;
  margin-bottom: 10px;
  z-index: 999;
}
.tooltip {
   margin-left: -180px;
 
}
}
